body {
  margin: 0;
  padding: 0;
}

h2,
p {
  position: relative;
  z-index: 1;
}

#grad1 {
  height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(175, 175, 175),
    rgb(91, 91, 91)
  );
}

.mexirica {
  transform: scale(0.8);
  position: absolute;
  top: -60px;
  right: 38%;
}

@font-face {
  font-family: "Americacorps";
  src: url("americorps3d.ttf");
}

@font-face {
  font-family: "Americorps";
  src: url("americorps.ttf");
}

.Descricao {
  color: rgb(0, 0, 0);
  font-family: "Americorps";
  position: absolute;
  top: 140px;
  right: 38%;
}

img {
  border-radius: 8px;
}

.supra {
  transform: scale(0.5);
  position: absolute;
  top: 50%;
  left: 20%;
}

.bmw {
  transform: scale(1);
  position: absolute;
  top: 50%;
  left: 40%;
}

.gm {
  transform: scale(1);
  position: absolute;
  top: 50%;
  left: 60%;
}

.zoom {
  overflow: hidden;
}

.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.text-item {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.Tcarsg {
  font-family: "Americorps";
  position: absolute;
  bottom: 45px;
  right: 45%;
}

.Tcarsj {
  font-family: "Americorps";
  position: absolute;
  bottom: 45px;
  left: 20%;
}

.TcarsA {
  font-family: "Americorps";
  position: absolute;
  bottom: 45px;
  right: 27%;
}
